.container_add{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .add_tab {
        width: 100%;
        min-height: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
    }
}