.bet-window {
    width: 40%;
    height: 20vh;
    position: fixed;
    top: 80%;
    left: 60%;
    background-color: #4F4D4F;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .info {
        color: white;
        margin-bottom: 10px;
    }
}